/* src/pages/SupportPage/SupportPage.css */
.support-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
  background-color: #ffffff;
}
