.chat-history {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.empty-chat-message {
  margin: auto;
  text-align: center;
  color: #a0a0a0;
}

.empty-chat-message h2 {
  color: #754ea0;
}