/* src/components/ChatHistory.css */

.chat-history {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.empty-chat-message {
  margin: auto;
  text-align: center;
  color: #a0a0a0;
}

.empty-chat-message h2 {
  color: #754ea0;
}

@media (max-width: 768px) {
  .chat-history {
    padding: 15px 10px;
  }
}

.chat-history::-webkit-scrollbar {
  width: 6px;
}

.chat-history::-webkit-scrollbar-track {
  background: transparent;
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 20px;
  border: 3px solid transparent;
}

.chat-history::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}